* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #202124;
    
}

.navbar {
    display: flex;
    justify-content: end;
    padding: 10px;
    border: 1px solid black;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    color: #bdc1c6;
}